<h1 id="vault">The Vault</h1>
<button onclick="userSwap()" id="userbutton" class="btn btn-primary" disabled>Users</button>
<button onclick="foodSwap()" id="pantrybutton" class="btn btn-primary">Pantry</button>
<div id="users" class="vaultgrid">
    <% for (user in database){ %>
        <div><img width="64px" src="<%= database[user].imageURL %>"></div>
        <div style="width: 30vw;">
            <h4>
                <%= database[user].firstName %>
                    <%= database[user].lastName %>
            </h4>
            <p class="mb-1">ID: <%= database[user].id %>
            </p>
            <p class="mb-1">Email: <%= database[user].email %>
            </p>
            <p class="mb-1">Method: <%= database[user].method %>
            </p>
            <p>Pantry:<% if (database[user].pantry.length==0){ %> Empty
                    <% } else{ for (pitem in database[user].pantry){ for (item in items){ if
                        (database[user].pantry[pitem]==items[item].id){ %>
                            <%= items[item].name %>,
                        <% } } } %>
                            <% }%>
            </p>
        </div>
        <% } %>
</div>
<div id="food" style="display: none;">
    <p>
        <%= items.length %> total ingredients (<%= ((recipeItems_unique.length/items.length)*100).toFixed(2) %>% used in recipes)
    </p>
    <div id="foodgridcontainer" style="height: 500px;">
        <div id="foodgridcontainer2">
            <div class="vaultgrid">
                <% for(item in items){ %>
                    <div class="imagegrid">
                        <img width="64px" src="<%= items[item].imageURL %>">
                    </div>
                    <h5>
                        <%= items[item].name %>
                    </h5>
                    <% } %>
            </div>
        </div>
    </div>
</div>

<script>
    const userSwap = () => {
        let foodgrid = document.getElementById("food")
        let usergrid = document.getElementById("users")
        let foodbutton = document.getElementById("pantrybutton")
        let userbutton = document.getElementById("userbutton")
        foodgrid.style.display = "none";
        usergrid.style.display = ""
        foodbutton.disabled = false
        userbutton.disabled = true
    }

    const foodSwap = () => {
        let foodgrid = document.getElementById("food")
        let foodgridcontainer = document.getElementById("foodgridcontainer")
        let usergrid = document.getElementById("users")
        let foodbutton = document.getElementById("pantrybutton")
        let userbutton = document.getElementById("userbutton")
        foodgrid.style.display = "";
        usergrid.style.display = "none"
        foodbutton.disabled = true
        userbutton.disabled = false

        foodgridcontainer.style.height = String(window.innerHeight - 250) + "px"
    }
</script>