<h1>
    <%= currentUser.firstName %>
        <%= currentUser.lastName %>
</h1>
<p>ID: <%= currentUser.id %>
</p>
<p>Email: <%= currentUser.email %>
</p>

<% if (currentUser.pantry.length> 1){ %>
    <p>
        You have <%= currentUser.pantry.length %> items in your pantry! View them <a href="/pantry/view">here</a>
    </p>
    <% }else if(currentUser.pantry.length==1) {%>
        <p>
            You have <%= currentUser.pantry.length %> item in your pantry! View it and add more <a href="/pantry/view">here</a>
        </p>
        <%} else{ %>
            <p>There are no items in your pantry! Add some <a href="/pantry/add">here</a></p>
            <% } %>